.navbar-brand{
    padding: 6px 6px;
}
footer{
    background-color: #333333;
}
.copyright{
    color: white;
    text-align: center;
}
footer a{
    color: white;
}
.item img{
    position: relative;
    left: 350px;
}
/*六张主照片的框架*/
main div{
    background-color: lightgray;
    width: 400px;
    border-radius: 10%;
    text-align: center;
}
main div img{
    overflow:hidden;
    padding-top: 12px;
}

table{
    padding: 5px;
    position: relative;
    left: 80px;
    width: auto;
    height: auto;
    background-color: rgba(200,230,240,0.4);
}